body {
    background-image: linear-gradient(rgb(255 255 255 / 50%), rgb(255 255 255 / 50%)), url(img.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    filter: brightness(1.2);
}

#myChart{
    margin: auto;
}